<div class="search-bar">
  <label for="location-search">Search for a new place</label>
  <div class="search-bar__input">
    <input #term id="location-search" placeholder="Example: Chicago" />
    <button (click)="searchHousings(term.value)" type="button">Search</button>
  </div>
</div>

<section class="articles">
  <ng-container *ngFor="let location of locations">
    <a [routerLink]="location.slug" class="article__link-wrapper">
      <article class="article">
        <img [src]="location.photo" class="article__image" />
        <h2 class="article__title">{{ location.name }}</h2>
      </article>
    </a>
  </ng-container>
</section>
