<h1 id="title">Search For a New Place</h1>

<div class="search-bar-wrapper">
  <div class="search-bar">
    <svg
      width="24"
      height="24"
      viewBox="0 96 960 960"
      class="search-bar__leading-icon"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path
        d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"
      />
    </svg>
    <input
      #term
      (input)="searchHousings(term.value)"
      aria-labelledby="title"
      placeholder="Example: Chicago"
      class="search-bar__input"
    />
  </div>
</div>

<p class="search-results-count">{{ locationsCountLabel }}</p>

<section class="articles">
  <ng-container *ngFor="let location of locations">
    <a [routerLink]="location.slug" class="article__link-wrapper">
      <article class="article">
        <img [src]="location.photo" class="article__image" />
        <h2 class="article__title">{{ location.name }}</h2>
      </article>
    </a>
  </ng-container>
</section>
