header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  min-height: 3.5rem;
  border-bottom: 1px solid lightgray;
  padding: 0 1rem;
}

span {
  font-weight: bold;
  font-size: 1.25rem;
}

main {
  max-width: 600px;
  padding: 0 1rem;
  margin: 0 auto;
}
