main {
  max-width: 900px;
  margin: 2rem auto 4rem auto;
}

.go-back {
  margin-bottom: 1.5rem;
  display: inline-block;
}

.house {
  border-radius: 8px;
  width: 100%;
}

.house img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.house h1 {
  font-weight: 500;
}
