main {
  max-width: 900px;
  margin: 1rem auto 4rem auto;
}

.go-back {
  margin-bottom: 1.5rem;
  display: inline-flex;
  gap: 0.5rem;
  font-size: 1rem;
  font-family: 'Urbanist', sans-serif;
  text-decoration: none;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0;
  height: 3rem;
  border-radius: 0.5rem;
  color: #4468e8;
}

.go-back svg {
  fill: currentColor;
  color: inherit;
}

.go-back:hover {
  text-decoration: underline;
}

.house {
  border-radius: 8px;
  width: 100%;
}

.house img {
  max-width: 100%;
  height: auto;
  border-radius: 1.5rem;
}

.house h1 {
  font-weight: 500;
}
