main {
  margin-top: 2rem;
}

.go-back {
  margin-bottom: 1rem;
  display: inline-block;
}

.house {
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
}

.house img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.house h1 {
  font-weight: 500;
}
